{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>
      <span class="gr-logo">
        Greenf<span class="gr-logoi">i</span>eld
      </span>
    </h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://preview.greenfield.app"
       onclick="ga('send','event', 'greenfield', 'preview');" target="_blank">Live Demo [BETA]</a>
    <a class="button outline big" href="https://github.com/udevbe/greenfield"
       onclick="ga(['send','event', 'greenfield', 'github']);" target="_blank">View Source</a>
  </div>
  <div id="kube-features">
        <div class="row gutters">
            <div class="col col-4 item">
                <figure>
                    <img alt="Baseline" height="48" src="{{ "/img/cloud-rainbow.svg" | relURL }}" width="100">
                 </figure>
                <h3>Ubiquitous computing</h3>
                <p>Greenfield is nothing less than world's the first true cloud desktop. A login. A browser. That's all you need to access all of your apps and data. Any device. Anytime. Anywhere.</p>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img alt="Baseline" height="48" src="{{ "/img/HTML5_logo.svg" | relURL }}" width="100">
                </figure>
                <h3>Latest and greatest tech</h3>
                <p>WebAssembly, WebGL, WebWorker... Performance is non-negotiable. Greenfield is at the boundaries of today's technology to deliver the best possible experience.</p>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img alt="Baseline" height="48" src="{{ "/img/Copyleft.svg" | relURL }}" width="100">
                </figure>
                <h4>License</h4>
                <p>Greenfield is licensed under <a href="https://opensource.org/licenses/AGPL-3.0">AGPL-3.0</a>.<br>
            </div>
    </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
